<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Physician's COVID19 Assistant</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Physician's COVID19 Assistant", "Index", "Home", new { area = "" }, new { Style = "color:White;", @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Basic Info <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a @Html.ActionLink("Symptoms", "Symptoms", "Blog")</a></li>
                            <li class="divider"></li>
                            <li><a @Html.ActionLink("Instructions to Provide", "Instructions_to_provide", "Instructions")</a></li>
                            <li class="divider"></li>
                            <li><a @Html.ActionLink("How to Deal With Patients", "Deal_patients", "Dealpatient")</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Scientific Findings", "Scientific_Find", "Findings")</li>
                    <li>@Html.ActionLink("Queries", "Forum", "Forum")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Reference List", "Reference", "Reference")</li>
                    @if (Session["password"] == null)
                    {
                         <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    }
                    @if (Session["password"] != null)
                    {
                         <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }

                </ul>

            </div>


        </div>
    </div>
    <div class="container body-content">
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Physician's COVID19 Assistant</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Html.Partial("~/Views/Shared/KendoCssJs.cshtml")
</body>
</html>